/Data/**
!/Data/**/
!/Data/**/.gitkeep

/Predictions/**
!/Predictions/**/
!/Predictions/**/.gitkeep

/Results/**
!/Results/**/
!/Results/**/.gitkeep

/kmermap/**

/Archive/**
!/Archive/**/
!/Archive/**/.gitkeep

/Other/**
/Uniprot/**

playground.ipynb
Pipeline.sh
colorbar.png