/Data/**
!/Data/**/
!/Data/**/.gitkeep

/Input/**
!/Input/**/
!/Input/**/.gitkeep

/Predictions/**
!/Predictions/**/
!/Predictions/**/.gitkeep

/Results/**
!/Results/**/
!/Results/**/.gitkeep

/kmermap/**

/Archive/**
!/Archive/**/
!/Archive/**/.gitkeep

/Other/**

playground.ipynb