/Data/**
!/Data/**/
!/Data/**/.gitkeep

DeepGAP/Predictions/**
!DeepGAP/Predictions/**/
!DeepGAP/Predictions/**/.gitkeep

DeepGAP/Results/**
!DeepGAP/Results/**/
!DeepGAP/Results/**/.gitkeep

/Archive/**

/data_lou/**
